Node-RED/Prova2_ESP8266_Node-RED.json
[
    {
        "id": "ffb5b07e.e94f9",
        "type": "tab",
        "label": "Projecte: Placa ESP2866 contra Node-RED",
        "disabled": false,
        "info": ""
    },
    {
        "id": "68af633f.302c0c",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/configuracio/envia",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "92078368.1a12b",
        "type": "inject",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "",
        "payload": "mac",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "68af633f.302c0c"
            ]
        ]
    },
    {
        "id": "a5175db.c7055a",
        "type": "mqtt in",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/configuracio/resposta",
        "qos": "2",
        "datatype": "auto",
        "broker": "d262e888.8a7e58",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "643961c7.c38c7"
            ]
        ]
    },
    {
        "id": "643961c7.c38c7",
        "type": "debug",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "cd2ff2fb.ade73",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/A0:20:A6:15:96:BC",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 380,
        "y": 380,
        "wires": []
    },
    {
        "id": "3453616a.51e3ae",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/A0:20:A6:16:32:AB",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "15ba9749.24f489",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/A0:20:A6:17:FF:BF",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 380,
        "y": 460,
        "wires": []
    },
    {
        "id": "669221aa.48ae7",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/A0:20:A6:18:35:74",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 370,
        "y": 500,
        "wires": []
    },
    {
        "id": "cf230295.4bc83",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/18:FE:34:D2:E6:A6",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 380,
        "y": 540,
        "wires": []
    },
    {
        "id": "6a34d52e.63fd0c",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/A0:20:A6:18:2D:B5",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 380,
        "y": 580,
        "wires": []
    },
    {
        "id": "95872f5b.b3844",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/80:7D:3A:7F:8C:C4",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 380,
        "y": 620,
        "wires": []
    },
    {
        "id": "18591e9d.8302a1",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/A0:20:A6:18:50:01",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 370,
        "y": 660,
        "wires": []
    },
    {
        "id": "c79e7ead.51a45",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/CC:50:E3:0F:27:0D",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "b750d400.1b15c",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/A0:20:A6:17:7E:4F",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "128da15c.28ba4f",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/A0:20:A6:04:99:B4",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "c7d6646c.4946a8",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/80:7D:3A:7F:E6:6A",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 600,
        "y": 500,
        "wires": []
    },
    {
        "id": "108a9cb2.37d913",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/A0:20:A6:18:2B:23",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 590,
        "y": 540,
        "wires": []
    },
    {
        "id": "69323966.cfcb98",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/A0:20:A6:18:2C:76",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 590,
        "y": 580,
        "wires": []
    },
    {
        "id": "d50af98b.53b918",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/CC:50:E3:5B:5F:B5",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 600,
        "y": 620,
        "wires": []
    },
    {
        "id": "a23e4fba.ed294",
        "type": "mqtt out",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "topic": "/A0:20:A6:17:DC:D5",
        "qos": "",
        "retain": "",
        "broker": "d262e888.8a7e58",
        "x": 600,
        "y": 660,
        "wires": []
    },
    {
        "id": "aff89f6b.e8057",
        "type": "ui_colour_picker",
        "z": "ffb5b07e.e94f9",
        "name": "",
        "label": "Selecció de color:",
        "group": "8d554dc1.0de65",
        "format": "hex",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "958f1ba0.380c48"
            ]
        ]
    },
    {
        "id": "958f1ba0.380c48",
        "type": "function",
        "z": "ffb5b07e.e94f9",
        "name": "Json",
        "func": "var red = parseInt(msg.payload.substr(0, 2),16);\nvar green = parseInt(msg.payload.substr(2, 2),16);\nvar blue = parseInt(msg.payload.substr(4, 6),16);\nmsg.payload = '{\"R\":\"'+ red + '\",\"G\":\"' + green + '\",\"B\":\"' + blue + '\",\"W\":\"0\"}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "c79e7ead.51a45",
                "b750d400.1b15c",
                "128da15c.28ba4f",
                "c7d6646c.4946a8",
                "108a9cb2.37d913",
                "69323966.cfcb98",
                "d50af98b.53b918",
                "a23e4fba.ed294",
                "cd2ff2fb.ade73",
                "3453616a.51e3ae",
                "15ba9749.24f489",
                "669221aa.48ae7",
                "cf230295.4bc83",
                "6a34d52e.63fd0c",
                "95872f5b.b3844",
                "18591e9d.8302a1"
            ]
        ]
    },
    {
        "id": "d262e888.8a7e58",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "8d554dc1.0de65",
        "type": "ui_group",
        "z": "",
        "name": "COLOR",
        "tab": "56c837fc.770348",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "56c837fc.770348",
        "type": "ui_tab",
        "z": "",
        "name": "LEDS",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]